{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block title %}MAnime - {{ title }}{% endblock %}

{% block content %}

<section id="authentication">

    <form class="authentication-form" method="post">{% csrf_token %}

        <h1>{{ heading }} and<br><span>start tracking anime</span></h1>

        {% for field in form.visible_fields %}
        <fieldset class="field">
            <legend>{{ field.label_tag }}</legend>
            {{ field }}
        </fieldset>
        {% endfor %}

        {% if page_name == 'login' %}
        <a class="forgot-pass" href="{% url 'authentication:login' %}">Forgot Password</a>
        {% endif %}

        <div class="actions">
            <button class="translucent" type="submit">{{ button }}</button>
            <p>or</p>

            <div class="links">
                {% if page_name == 'register' %}
                <a href="{% url 'authentication:login' %}">Login Here</a>
                {% else %}
                <a href="{% url 'authentication:register' %}">Register Here</a>
                {% endif %}
            </div>

        </div>

    </form>

</section>

{% include 'message.html' with code='error' type='snackbar' %}

{% endblock content %}