#registration {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    @media (max-width:480px) {
        margin-top: 2rem;
    }

    .registration-form {

        font-size: 1rem;
        border-radius: .5rem;
        background-color: #211948;
        padding: 2em;
        flex-grow: 1;

        .text-container {
            text-align: center;

            h3,
            p {
                margin: 0
            }
        }

        .field {
            border-radius: .25rem;
            background: #2e2567;
            padding: 1em;
            display: flex;
            flex-direction: column;
            margin: 1em 0;

            .label-container {
                margin-bottom: .25rem;
            }

            input {
                background-color: #4821b3;
                font-size: 1em;
                border-radius: .25rem;
                padding: 0.5em;
            }
        }


        button {
            font-size: 1em;
            width: 100%;
        }

    }

}