#authentication {

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .authentication-form {

        border-radius: 0.5em;
        padding: 2em;

        h1 {
            font-size: 2.5em;
            text-transform: uppercase;

            span {
                padding-right: 1.5em;
            }
        }

        .field {

            border-radius: 0.25em;
            border: 0.15em solid rgba(#f1f1f1, 0.5);
            display: flex;
            flex-direction: column;
            margin: 2.5em 0;

            legend {
                padding: 0 0.5em;
            }

            input {
                background-color: transparent;
                font-size: 1em;
                border-radius: 0.25em;
                padding: 0.5em;
                width: 100%;
                margin: 0;
            }

            .error-msg {
                padding: 1em 0.45em;
            }

        }

        .actions {

            text-align: center;

            button {
                font-size: 1em;
                width: 100%;
            }

            .links {
                display: flex;
                flex-direction: column;

                a {
                    margin: 0.25em;
                }
            }

        }

    }

}