@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;800;900&display=swap");

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

html {
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mq-medium} {
        font-size: $base-font-size*0.75;
        line-height: $base-line-height*0.75;
    }

    @media #{$mq-large} {
        font-size: $base-font-size*1;
    }

    @media #{$mq-xlarge} {
        font-size: $base-font-size*2;
    }

    @media #{$mq-xxlarge} {
        font-size: $base-font-size*3;
    }
}

body {
    background-color: #25253d;
    color: #f1f1f1;
}

a,
a:focus {
    color: #f1f1f1;
    text-decoration: none;
}


@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1rem + 0.5 * (6 - $i);
        margin: 0;
    }
}

input {
    color: #f1f1f1;
    border: none;

    &::placeholder {
        font-family: "Font Awesome 5 Free", "Catamaran", sans-serif;
        font-weight: 900;
        color: currentColor;
    }
}

.container {
    height: 100%;
    margin: 0 10vw;
}

.btn {
    cursor: pointer;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    background-color: #0c0c0c;
    padding: 0.5em 1em;
    font-family: "Catamaran", sans-serif;
    font-size: 0.95rem;
    font-weight: 600;

    &:hover {
        box-shadow: 0 0 3px 0 currentColor;
    }

    &.primary {
        background-color: #4821b3;
    }
}